<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>ユーザー（<%= @name %>さん）の新規登録が完了しました。</h1>
    トップページはこちら
    <a href="http://localhost:3000/">トップページへ</a>
  </body>
</html>
