<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>コメント内容</th>
      <th>ユーザー名</th>
      <th>投稿日時</th>
    </tr>
  </thead>
  <% @comments.each do |comment| %>
    <tbody>
      <tr>
        <td>
          <%= comment.content %>
        </td>
        <td>
          <%= link_to comment.user.name, user_path(id: comment.user.id) %>
        </td>
        <td>
          <% create_time = comment.created_at %>
          <%= create_time.strftime("%Y-%m-%d %H:%M:%S") %>
        </td>
        <td>
          <% if current_user.id == comment.user.id %><br />
            <%= link_to '削除', playlist_comment_path(:playlist_id => @playlist.id, :id => comment.id), method: :delete, data: {:confirm => "Are you sure?"}, remote: true, id: "comment_destroy", class: "btn btn-warning btn-xs" %>
          <% end %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>
