<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h2><%= link_to 'ログイン', new_user_session_path, class: "btn btn-primary btn-lg" %></h2>
    </div>

    <div class="col-sm-6">
      <h2><%= link_to '新規登録', new_user_registration_path, class: "btn btn-primary btn-lg"%></h2>
    </div>

    <div><%= link_to 'Forget your password?', new_user_password_path, class: "btn btn-link btn-lg" %></div>

  </div>
</div>
